@use "../helpers/index" as *;

.form-search {
  display: flex;
  align-items: center;

  &__label {
    flex: 100%;
  }

  &__input {
    background-color: transparent;

    border: rem(1) solid var(--color-grey-dark);
    border-radius: rem(20);

    width: 100%;

    padding: rem(12) rem(20);

    color: var(--color-light);
  }

  &__button {
    @include square( fluid(57, 40));
    @include flex-center;

    background-color: transparent;
    border-radius: rem(20);
    border: none;

    margin-left: rem(-57);
  }
}