@use "../helpers/index" as *;

.page-header {
  background-image: url("/src/assets/images/page-header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;

  height: rem(320);
  position: relative;

  @include tablet {
    height: rem(280);
  }

  @include mobile {
    height: rem(250);
  }

  &_nft {
    background-image: url("/src/assets/images/nft-background.svg");
    height: rem(560);

    @include tablet {
      height: rem(420);
    }

    @include mobile {
      height: rem(320);
    }
  }

  &__icon {
    position: absolute;
    top: 80%;

    border: rem(2) solid var(--color-dark);
    border-radius: rem(20);
  }
}